@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

#mylink {
    font-size: 25px;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(/landing/images/top-score-bg.png);
}

label,
h1 {
    color: #edf0f1;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;

}

a, button {
    font-size: 12px !important;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: bold !important;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.myDiv {
    height: 90vh;
}