@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    height: 100vh;
    position: relative;
}

/* Styling & Class Section 1 */
#section-1 {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(/landing/images/main-bg.jpg);
    background-size: cover;
    background-position: center;
}

a {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #edf0f1;
    letter-spacing: 2px;
    text-decoration: none;
}

.content-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 200px;
    width: 100%;
    align-items: center;
    text-align: center;
}

.content-1 h1 {
    letter-spacing: 20px;
    font-size: 80px;
    font-weight: 2000;
    color: #edf0f1;
}

.content-1 h2 {
    margin-top: 45px;
    color: #edf0f1;
    font-weight: bold;
    font-size: 36px;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 2px;
}

.playnow {
    margin: 50px;
    padding: 20px 80px;
    background-color: #ffb43c;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

button:hover {
    background-color: rgba(74, 77, 78, 0.233);
}

/* End Section Styling & Class Section 1 */



/* Styling & Class Section 2 */
#section-2 {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(/landing/images/the-games-bg.jpg);
    background-size: cover;
    background-position: center;
}

.content-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    align-items: flex-start
}

#about-game {

    margin-top: 150px;
}

.about-game-text h1 {
    color: #edf0f1;
    font-size: 80px;
    letter-spacing: 20px;
}

.about-game-text p {
    color: #edf0f1;
    font-size: 36px;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 2px;
}

#myCarousel {
    margin-top: 170px;
}

.carousel-item {
    align-items: center;
}

.carousel-indicators {
    justify-content: center;
    flex-direction: row;
    width: auto;
    height: auto;
    align-items: center;
}

.first-image-carousel {
    width: 1000px;
    height: 600px;
}

.second-image-carousel {
    width: 1000px;
    height: 600px;
}

.third-image-carousel {
    width: 1000px;
    height: 600px;
}


/* End Section Styling & Class Section 2*/



/* Styling & Class Section 3 */
#section-3 {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(/landing/images/features.jpg);
    background-size: cover;
    background-position: center;
}

.content-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    align-items: center;
}

.about-features-text {
    margin-left: 700px;
    margin-top: 150px;
}

.about-features-text h1 {
    color: #edf0f1;
    font-size: 80px;
    letter-spacing: 20px;
}

.about-features-text p {
    color: #edf0f1;
    font-size: 36px;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 2px;
}

.main-content-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.features-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 575px;
    margin-top: 80px;
}

.text-indicator-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 80px;
    margin-left: 25px;
    height: 275px;
}

.text-indicator-container h1 {
    color: #ffb43c;
    font-size: 24px;
    letter-spacing: 2px;
}

.text-indicator-container p {
    color: #FFF;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 2px;
}

.text-indicator-box {
    margin-top: 10px;
}

.trad-games {
    content: url(/landing/assets/ellipse.svg);
}

.trad-text {
    font-size: 100px;
}

.game-suit-text {
    margin-top: 32.5px;
}

.game-suit {
    content: url(/landing/assets/ellipse-outline.svg);
}

.tbd {
    content: url(/landing/assets/ellipse-outline.svg);
    margin-top: 50px;
}

.vline {
    border-left: 1px solid white;
    height: 50px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: circle;
}

ul li div {
    width: 50%;
    float: left;
    padding: 15px;
    text-align: center;
    background: #fff;
}

ul li .first {
    border-right: 1px solid #000;
    position: relative;

}

ul li .first::after {
    content: '';
    position: absolute;
    bottom: 16px;
    right: -6px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #000;
    background: inherit;
}

#step-text-indicators {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 820px;
    margin-top: 50px;
}

.indicators-text-style-1 h2 {
    color: #ffb43c;
    font-size: 36px;
    font-weight: 100;
    letter-spacing: 2px;
}

.indicators-text-style-2 h2 {
    color: #ffb43c;
    font-size: 36px;
    letter-spacing: 2px;
    font-weight: 100;
}

.indicators-text-style-3 h2 {
    color: #ffb43c;
    font-size: 36px;
    font-weight: 100;
    letter-spacing: 2px;
}

.indicators-text-style-1 p {
    color: #FFF;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 2px;
}

/* End Section Styling & Class Section 3 */

/* Styling & Class Section 4 */
#section-4 {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0)), url(/landing/images/requirements.png);
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
}

.content-4 {
    width: 100%;
    height: 100vh;
}

.run-can-text {
    margin-top: 100px;
    color: #FFF;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 2px;
}

.system-req-text {
    margin-left: 8px;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 70px;
    font-weight: 400;
    color: #FFF;

}

#table-text h2 {
    color: #ffb43c;
    font-weight: 200;
}

#table-text p {
    color: #edf0f1;

}

.cell {
    border: 1px solid #343434;
}

/* End Section of Styling & Class Section 4 */



/* Styling & Class of Section 5 */
#section-5 {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(/landing/images/top-score-bg.png);
    background-size: cover;
    background-position: center;
}


.content-5 {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.twitter-user {
    content: url(/landing/assets/twitter.svg);
}

.content-5 h1 {
    color: #edf0f1;
    font-size: 54px;
    letter-spacing: 2px;
}

.img-person-card {
    border: 5px #ffb43c solid;
    border-radius: 50%;
    height: 90px;
}

.btn {
    border-radius: 2px;
    width: 200px;
    height: 50px;
    color: black;
    font-weight: bold;


}

.card {
    width: 430px;
    height: 230px;
}

/* End Section of Styling & Class Section 5 */



/* Styling & Class of Section 6 */
#section-6 {
    width: 100%;
    height: 100vh;
    background-image: url(/landing/images/newsletter.png);
    background-size: cover;
    background-position: center;
}

.content-6 {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.img-container {
    margin: 100px 0;
    display: flex;
    justify-content: center;

}

.text-container {
    margin-top: 100px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
}

.text-container h1 {
    font-size: 80px;
    font-weight: 400;
    color: #edf0f1;
    letter-spacing: 2px;
}

.text-container h4 {
    font-size: 36px;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    color: #edf0f1;
}

.text-container p {
    font-size: 18px;
    font-weight: 200;
    font-family: 'Source Sans Pro', sans-serif;
    color: #edf0f1;
}

.form-control:valid {
    background-color: #201c1c !important;
}

#btnsec6 {
    border-radius: 2px;
    width: 250px;
    height: 50px;
    color: black;
    font-weight: bold;

}

/* End Section of Styling & Class Section 6 */

/* Styling & Class of Footer*/
.footer {
    background-color: #000;
    display: flex;
    flex-direction: column;

}

.navigation-footer {
    flex-direction: row;
    align-self: center;
    text-align: end;
}

.navigation-footer a {
    color: #FFF;
}

.facebook {
    content: url(/landing/assets/facebook.svg);
}

.twitter {
    content: url(/landing/assets/twitter.svg);

}

.youtube {
    content: url(/landing/assets/vector.svg)
}

.twitch {
    content: url(/landing/assets/twitch.svg)
}

.horizontal-line-footer {
    border: 1px solid #FFF;
    align-self: center;
}

.text-footer-container {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
}

.text-footer-container p {
    color: #6a6a6b;
    font-size: 14px;
}

.agreement-container {
    flex-direction: row;
    display: flex;
}

.vline-footer {
    border-left: 2px solid white;
    height: 15px;
}

/* End Section Styling & Classes of Footer */


/* Media Rule */

@media screen and (min-width: 769px) {
    /* STYLES HERE */
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
    /* STYLES HERE */
}

@media only screen and (max-device-width: 480px) {
    #section-1 {
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(images/main-bg.jpg);
        background-size: cover;
        background-position: center;
    }

    a {
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        font-weight: bold;
        color: #edf0f1;
        letter-spacing: 2px;
        text-decoration: none;
    }

    .content-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 200px;
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .content-1 h1 {
        letter-spacing: 2px;
        font-size: 30px;
        font-weight: 2000;
        color: #edf0f1;
    }

    .content-1 h2 {
        margin-top: 40px;
        color: #edf0f1;
        font-weight: bold;
        font-size: 12px;
        font-family: 'Source Sans Pro', sans-serif;
        letter-spacing: 2px;
    }

    .playnow {
        margin: 50px;
        padding: 20px 60px;
        background-color: #ffb43c;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
    }

    button:hover {
        background-color: rgba(74, 77, 78, 0.233);
    }

    #section-2 {
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(images/the-games-bg.jpg);
        background-size: cover;
        background-position: center;
    }

    .content-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .whatspecial {
        align-self: center;
        text-align: center;
    }

    .about-game-text h1 {
        color: #edf0f1;
        font-size: 30px;
        letter-spacing: 2px;
    }

    .about-game-text p {
        color: #edf0f1;
        font-size: 12px;
        font-family: 'Source Sans Pro', sans-serif;
        letter-spacing: 2px;
    }

    #myCarousel {
        margin-top: 20px;
    }


    .carousel-indicators {
        justify-content: center;
        flex-direction: row;
        width: auto;
        height: auto;
        align-items: center;
    }

    .first-image-carousel {
        width: 320px;
        height: 260px;
    }

    .second-image-carousel {
        width: 320px;
        height: 260px;

    }

    .third-image-carousel {
        width: 320px;
        height: 260px;
    }

    #section-3 {
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(images/features.jpg);
        background-size: cover;
        background-position: center;
    }

    .content-3 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .about-features-text {
        margin-top: 10px;
        margin-left: 20px;
    }

    .about-features-text h1 {
        color: #edf0f1;
        font-size: 30px;
        letter-spacing: 22px;
    }

    .about-features-text p {
        color: #edf0f1;
        font-size: 36px;
        font-family: 'Source Sans Pro', sans-serif;
        letter-spacing: 2px;
    }

    .main-content-3 {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .features-indicator {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 35px;
        margin-top: 50px;
    }

    .text-indicator-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 50px;
        margin-left: 25px;
        height: 275px;
    }

    .text-indicator-container h1 {
        color: #ffb43c;
        font-size: 20px;
        letter-spacing: 2px;
    }

    .text-indicator-container p {
        color: #FFF;
        font-size: 18px;
        font-family: 'Source Sans Pro', sans-serif;
        letter-spacing: 2px;
    }

    .text-indicator-box {
        margin-top: 10px;
    }

    .trad-games {
        content: url(assets/ellipse.svg);
    }

    .game-suit-text {
        margin-top: 5px;
    }

    .game-suit {
        content: url(assets/ellipse-outline.svg);
    }

    .tbd {
        content: url(assets/ellipse-outline.svg);
        margin-top: 50px;
    }

    .vline {
        border-left: 1px solid white;
        height: 50px;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: circle;
    }

    ul li div {
        width: 50%;
        float: left;
        padding: 15px;
        text-align: center;
        background: #fff;
    }

    ul li .first {
        border-right: 1px solid #000;
        position: relative;

    }

    ul li .first::after {
        content: '';
        position: absolute;
        bottom: 16px;
        right: -6px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid #000;
        background: inherit;
    }

    #step-text-indicators {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 820px;
        margin-top: 50px;
    }

    .indicators-text-style-1 h2 {
        color: #ffb43c;
        font-size: 36px;
        font-weight: 100;
        letter-spacing: 2px;
    }

    .indicators-text-style-2 h2 {
        color: #ffb43c;
        font-size: 36px;
        letter-spacing: 2px;
        font-weight: 100;
    }

    .indicators-text-style-3 h2 {
        color: #ffb43c;
        font-size: 36px;
        font-weight: 100;
        letter-spacing: 2px;
    }

    .indicators-text-style-1 p {
        color: #FFF;
        font-weight: bold;
        font-size: 18px;
        font-family: 'Source Sans Pro', sans-serif;
        letter-spacing: 2px;
    }

    #section-4 {
        background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0)), url(images/requirements.png);
        background-size: cover;
        background-position: center;
        background-blend-mode: darken;
    }

    .run-can-text {
        margin-top: 100px;
        color: #FFF;
        font-size: 12px;
        font-family: 'Source Sans Pro', sans-serif;

    }

    .system-req-text {
        text-align: center;
        justify-content: center;
        margin-top: 10px;
        font-size: 30px;
        font-weight: 400;
        color: #FFF;

    }

    .table-req {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #table-text h2 {
        color: #ffb43c;
        font-weight: 200;
        font-size: 12px;
    }

    #table-text p {
        color: #edf0f1;
        font-size: 10px;

    }

    .cell {
        border: 1px solid #343434;
    }

    #section-5 {
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(images/top-score-bg.png);
        background-size: cover;
        background-position: center;
    }


    .content-5 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .twitter-user {
        content: url(assets/twitter.svg);
    }

    .content-5 h1 {
        color: #edf0f1;
        font-size: 30px;
        letter-spacing: 2px;

    }

    .content-5 p {
        color: #FFF;
        font-size: 12px;
    }

    .img-person-card {
        border: 2px #ffb43c solid;
        border-radius: 50%;
        height: 30px;
    }

    .card {
        width: 130px;
        height: 230px;
    }

    .btn {
        border-radius: 2px;
        width: 200px;
        height: 50px;
        color: black;
        font-weight: bold;


    }

    .column-1 {
        align-self: center;
        text-align: center;
        justify-content: center;
        margin-left: 80px;
    }

    .column-2 {
        visibility: hidden;
    }

    #section-6 {
        background-image: url(images/newsletter.png);
        background-size: cover;
        background-position: center;
    }

    .content-6 {
        display: flex;
        flex-direction: row-reverse;

    }

    .img-container {
        visibility: hidden;
        z-index: -1;
    }

    .text-container {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-left: 400px;
    }

    .text-container h1 {
        font-size: 30px;
        font-weight: 400;
        color: #edf0f1;
        letter-spacing: 2px;
    }

    .text-container h4 {
        font-size: 18px;
        font-weight: 400;
        font-family: 'Source Sans Pro', sans-serif;
        color: #edf0f1;
    }

    .text-container p {
        font-size: 16px;
        font-weight: 200;
        font-family: 'Source Sans Pro', sans-serif;
        color: #edf0f1;
    }

    .form-control:valid {
        background-color: #201c1c !important;
    }

    #btnsec6 {
        border-radius: 2px;
        width: 85px;
        height: 50px;
        color: black;
        font-weight: bold;
        font-size: 12px;

    }
}